.login-page {
    &__background {
        background-image: url('../../../assets//photos/login-background.jpg');
        background-size: cover;                    
        background-repeat: no-repeat;
        background-position: center center;   
    }
    
    &__form-container {
        height: 100%;
        width: 380px;
        border: 3px solid white;
        border-radius: 12px;
    }
    &__login-button {
        min-width: 40%;
    }
    &__icon {
        padding: 20px 0 20px;
        font-size: 30px;
    }
}