<div
  class="w-100 h-100 reset-password-page__background d-flex align-items-center justify-content-center"
>
  <form [formGroup]="form">
    <div
      class="reset-password-page__form-container d-flex flex-column align-items-center justify-content-center"
    >
      <mat-form-field appearance="outline" class="w-75 mt-4">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" required />
      </mat-form-field>
      <mat-error
        *ngIf="resetPasswordError$ | async as error"
        class="d-flex align-items-center justify-content-center w-100 p-2 text-center"
        >{{ error }}</mat-error
      >
      <button
        mat-raised-button
        color="primary"
        class="reset-password-page__login-button my-3"
        [disabled]="!form.valid || !form.touched"
        (click)="resetPassword()"
      >
        Resetuj hasło
      </button>
      <button
        mat-button
        color="primary"
        class="reset-password-page__login-button my-3"
        (click)="goBackToLoginPage()"
      >
        Wróć do strony logowania
      </button>
    </div>
  </form>
</div>

<ng-template #spinner>
  <mat-spinner [diameter]="37" color="accent"></mat-spinner>
</ng-template>
