<div
  class="h-100 w-100 d-flex align-items-center justify-content-center flex-column"
>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table w-25"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th class="pl-5 ml-5" mat-header-cell *matHeaderCellDef>Data</th>
      <td class="pl-5 ml-5" mat-cell *matCellDef="let element">
        {{ timeToDate(element.time) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns; let i = index"
      (click)="goToDetails(i, row)"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
